[project]
	description = gentoo xbmc vdr overlay
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/trusnak
[access "refs/for/refs/*"]
	read = group user/trusnak
	push = group user/trusnak
	label-Code-Review = -2..+2 group user/trusnak
	label-Verified = -1..+1 group user/trusnak
	rebase = group user/trusnak
	removeReviewer = group user/trusnak
	submit = group user/trusnak
[access "refs/heads/*"]
	read = group user/trusnak
	create = group user/trusnak
	push = +force group user/trusnak
	pushMerge = group user/trusnak
[access "refs/tags/*"]
	push = +force group user/trusnak
	pushTag = group user/trusnak
	pushSignedTag = group user/trusnak
